
streamlit>=1.38
requests>=2.31
python-dotenv>=1.0

# Data & visualization
pandas>=2.2
plotly>=5.22
streamlit-extras>=0.4.3
streamlit-option-menu>=0.3.13
streamlit-lottie>=0.0.5
streamlit-card>=1.0.2
streamlit-aggrid>=1.0.5
streamlit-autorefresh>=1.0.1

fpdf2>=2.7


psutil>=5.9

